.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.geocoder__style .mapboxgl-ctrl-geocoder {
  min-width: -webkit-fill-available;
  border-radius: 20px;
}

.searchBar__geocoder {
  width: 90%;
}
.responsive {
  display: none;
}
.searchBar__menu {
  width: 10%;
  margin-left: 5px;
  text-align: center;
}
.searchBar {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .responsive {
    display: block;
    background-color: #fff;
  }

  .title__search, #drawer {
    display: none;
  }

  .logoImg {
    width: 130px;
    height: 50px;
  }

  .mapbox-content {
    margin-top: 55px;
  }

  .wrapper__toolbar {
    margin: 10px 5px 10px 5px;
  }

  .responsive__button {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .content__responsive {
    margin: 15px;
  }
  
  .metric__style {
    width: 167px;
    height: 30px;
    background: #74B9FF 0% 0% no-repeat padding-box;
    border: 1px solid #74B9FF;
    opacity: 1;
    border-radius: 20px;
    color: #ffffff;
  }
  .metric__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .range__style {
    width: 167px;
    height: 30px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #74B9FF;
    opacity: 1;
    border-radius: 20px;
    color: #74B9FF;
  }
}
